# Host user/group used by the container process for mounted files.
ASTERISK_UID=1000
ASTERISK_GID=1000

# Document the current deploy target. Update if you move this stack.
SERVER_IP=167.235.231.202

